<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>社区</title>
    <script src="js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" th:href="@{css/community.css}" type="text/css">
</head>
<body class="f-bcg">
<script type="application/javascript">
    var closable = window.localStorage.getItem("Closable");
    if(closable == "true"){
        window.close();
    }
</script>
<div th:insert="~{navigation :: nav}"></div>
<div class="f-bcw g-main container">
    <div class="g-left f-brcg col-xs-12 col-sm-12 col-md-12 col-lg-9">
        <h2><span class="glyphicon glyphicon-th-list"></span>&nbsp&nbsp发现</h2>
        <hr>
        <div class="media" data-th-each="question : ${pagination.dataDTOS}">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-rounded u-img-logo" th:src="${question.user.avatarUrl}">
                </a>
            </div>
            <div class="media-body">
               <h4 class="media-heading">
                   <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"> </a>
               </h4>
                <p class="f-cg">
                    回复&nbsp <span th:text="${question.commentCount}"></span>  &nbsp
                    浏览&nbsp <span th:text="${question.viewCount}"></span>  &nbsp
                    喜欢&nbsp <span th:text="${question.likeCount}"></span>  &nbsp&nbsp
                    <spqn th:text="${#calendars.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></spqn>
                </p>
            </div>

        </div>
        <div class="center-block" th:if="${pagination.totalPages != 0}">
            <nav aria-label="Page navigation" class="f-m0a f-tac">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=${1},keyword=${keyword})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}" >
                        <a th:href="@{/(page=${pagination.page - 1},keyword=${keyword})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page == page}? 'active':''">
                        <a th:href="@{/(page=${page},keyword=${keyword})}" th:text="${page}"></a></li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1},keyword=${keyword})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPages},keyword=${keyword})}" aria-label="Previous">
                            <span aria-hidden="true">&gt&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <h2>热门话题</h2>
    </div>
</div>
<div th:insert="~{foot::foot}"></div>
</body>
</html>