<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" th:href="@{css/community.css}" href="css/community.css" type="text/css">

</head>
<body class="f-bcg">
<div th:insert="~{navigation :: nav}"></div>
<div class="f-bcw g-main container">
    <div class="g-left col-xs-12 col-sm-12 col-md-12 col-lg-9">
        <h2><span class="glyphicon glyphicon-plus"></span>&nbsp&nbsp提问</h2>
        <hr>
        <form action="/publish" method="post">
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="请输入标题">
            </div>
            <div class="form-group">
                <label for="content">问题详细</label>
                <textarea class="form-control" name="desc" id="content" cols="30" rows="10" th:text="${desc}"></textarea>
            </div>
            <div class="form-group">
                <label for="tag">标签</label>
                <input type="text" class="form-control" name="tag" id="tag" th:value="${tag}" placeholder="请输入标签">
            </div>
            <div class="f-fl col-xs-12 col-sm-12 col-md-12 col-lg-9 alert f-p5px">
                <p class="bg-danger f-cr" th:text="${error}"></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 f-fr">
                <button type="submit" class="btn btn-success f-w100 u-button-submit">发送</button>
            </div>
        </form>
    </div>
    <div class="g-right col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <h2>提问指南</h2>
        <h3>问题发起指南</h3>
        • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
        • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
        • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
    </div>
</div>
</body>
</html>