<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${question.title}"></title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css" type="text/css">
</head>
<body class="f-bcg">
<div th:insert="~{navigation :: nav}"></div>
<div class="f-bcw g-main container">
    <div class="g-left f-brcg col-xs-12 col-sm-12 col-md-12 col-lg-9">
        <h2 th:text="${question.title}"></h2>

        <p class="f-cg">
            作者&nbsp <span th:text="${question.user.name}"></span> &nbsp
            回复&nbsp <span th:text="${question.commentCount}"></span> &nbsp
            浏览&nbsp <span th:text="${question.viewCount}"></span> &nbsp
            喜欢&nbsp <span th:text="${question.likeCount}"></span> &nbsp&nbsp
            <spqn th:text="${#calendars.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></spqn>
        </p>
        <hr/>
        <div>
            <p class="u-content" th:text="${question.description}"></p>
        </div>
        <hr/>
        <span th:if="${session.userInfo != null}">
            <div th:if="${session.userInfo.id == question.user.id}">
                <a th:href="@{'/publish/'+${question.id}}" class="f-cb"><span class="glyphicon glyphicon-pencil"></span>&nbsp编辑</a>
            </div>
        </span>
        <hr/>

        <!-- 评论  begin -->
        <div class="">
            <h3><span th:text="${question.commentCount}"></span>个评论</h3>
            <hr/>
            <div class="media f-m20" th:each="commentDTO : ${commentDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded u-img-logo" th:src="${commentDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <p>
                            <span class="f-fs15 f-cb" th:text="${commentDTO.user.name}"> </span>
                            <span class="f-fs15 f-fr f-cg" th:text="${#calendars.format(commentDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </p>
                        <p class="f-fs15 f-wbwa u-content" th:text="${commentDTO.comment}"></p>
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="f-fs12"><a href="#">点赞</a></li>
                            <li role="presentation" class="f-fs12"><a href="#">回复</a></li>

                        </ul>
                    </h4>
                    <p class="f-cg">
                    </p>
                </div>
            </div>
        </div>
        <!-- 评论  end -->

        <!-- 回复 begin  -->
        <div class="j-comment-box">
            <div>
                <div class="f-fr">
                    <img th:src="${question.user.avatarUrl}" class="img-rounded u-img-logo f-m10" alt="头像">
                    <span th:text="${question.user.name}"></span>
                </div>
                <div class="f-fl">
                    <h3>发表评论</h3>
                    <hr>
                </div>
            </div>

            <div>
                <input type="hidden" th:value="${question.id}" class="j-questionId"/>
                <input type="hidden" th:value="${question.user.id}" class="j-userId"/>
                <textarea class="form-control j-comment" rows="3"></textarea>
                <button type="submit" class="btn btn-success f-fr u-button-submit j-comment-btn">评论</button>
            </div>
        </div>
        <!-- 回复  end -->
    </div>
    <div class="g-right col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <div>
            <h3>作者信息</h3>
            <div>
                <img th:src="${question.user.avatarUrl}" class="img-circle u-img-logo f-m10" alt="头像">
                <span th:text="${question.user.name}"></span>
            </div>
        </div>

    </div>
</div>
</body>
</html>