<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${question.title}"></title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css" type="text/css">
</head>
<body class="f-bcg">
<div th:insert="~{navigation :: nav}"></div>
<div class="f-bcw g-main container">
    <div class="g-left f-brcg col-xs-12 col-sm-12 col-md-12 col-lg-9">
        <!--文章内容 begin-->
       <div>
           <h2 th:text="${question.title}"></h2>
           <p class="f-cg">
               作者&nbsp <span th:text="${question.user.name}"></span> &nbsp
               回复&nbsp <span th:text="${question.commentCount}"></span> &nbsp
               浏览&nbsp <span th:text="${question.viewCount}"></span> &nbsp
               喜欢&nbsp <span th:text="${question.likeCount}"></span> &nbsp&nbsp
               <spqn th:text="${#calendars.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></spqn>
           </p>
           <!-- 标签 begin-->
           <div class="g-tag">
               <span class="label label-primary f-fs15 f-mt20 f-mr10" th:each="tag:${question.tag.split(',')}" th:text="${tag}"></span>
           </div>
           <hr/>
           <!-- 标签 end-->
           <!-- 内容 begin-->
           <div>
               <p class="u-content" th:text="${question.description}"></p>
           </div>
           <!--内容 begin-->
           <!--编辑按钮 begin-->
           <div th:if="${session.userInfo != null}">
               <div th:if="${session.userInfo.id == question.user.id}">
                   <a th:href="@{'/publish/'+${question.id}}" class="f-cb"><span class="glyphicon glyphicon-pencil"></span>&nbsp编辑</a>
               </div>
           </div>
           <!--编辑按钮 end-->
       </div>
        <!--文章内容 end-->
        <hr/>
        <!-- 评论  begin -->
        <div class="">
            <h3><span th:text="${question.commentCount}"></span>个评论</h3>
            <hr/>
            <div class="media f-m20" th:each="commentDTO : ${commentDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded u-img-logo" th:src="${commentDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <p>
                            <span class="f-fs15 f-cb" th:text="${commentDTO.user.name}"> </span>
                            <span class="f-fs15 f-fr f-cg" th:text="${#calendars.format(commentDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </p>
                        <p class="f-fs15 f-wbwa u-content" th:text="${commentDTO.comment}"></p>
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="f-fs12 j-comment2-open">
                                <span th:data-id="${commentDTO.id}" th:data-status="${'off'}" onclick="openCollapse(this)"
                                      class="u-button-1">回复 <span th:text="${commentDTO.commentCount}"></span></span>
                            </li>
                            <li role="presentation" class="f-fs12"><span class="u-button-1">喜欢 <span th:text="${commentDTO.likeCount}"></span></span></li>
                        </ul>
                        <!--二级回复 begin-->
                        <div class="collapse" th:id="'commentbox-'+${commentDTO.id}">
                            <div class="g-well f-bcw j-reply-list" th:id="'reply-list-'+ ${commentDTO.id}">
                            </div>
                            <div class="f-m10">
                                <input type="text" class="form-control" placeholder="Comment" th:id="'reply-' + ${commentDTO.id}"
                                       aria-describedby="basic-addon1">
                                <button type="submit" class="btn btn-success f-fr u-button-submit" th:data-id="${commentDTO.id}"
                                         onclick="submitReply(this)">回复</button>
                            </div>
                        </div>
                        <!--二级回复 end-->
                    </h4>
                </div>
            </div>
        </div>
        <!-- 评论  end -->

        <!-- 回复 begin  -->
        <div class="j-comment-box">
            <div>
                <div class="f-fr">
                    <img th:src="${question.user.avatarUrl}" class="img-rounded u-img-logo f-m10" alt="头像">
                    <span th:text="${question.user.name}"></span>
                </div>
                <div class="f-fl">
                    <h3>发表评论</h3>
                    <hr>
                </div>
            </div>

            <div>
                <input type="hidden" th:value="${question.id}" class="j-questionId"/>
                <input type="hidden" th:value="${question.user.id}" class="j-userId"/>
                <textarea class="form-control j-comment" rows="3"></textarea>
                <button type="submit" class="btn btn-success f-fr u-button-submit j-comment-btn">评论</button>
            </div>
        </div>
        <!-- 回复  end -->
    </div>
    <div class="g-right col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <div>
            <h3>作者信息</h3>
            <div>
                <img th:src="${question.user.avatarUrl}" class="img-circle u-img-logo f-m10" alt="头像">
                <span th:text="${question.user.name}"></span>
            </div>
        </div>
        <div>
            <h3>相关问题</h3>
            <ul th:each="about : ${aboutList}">
                <li><a th:href="@{'/question/' + ${about.id}}"  th:text="${about.title}"></a></li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>